{% extends 'base.html' %}

{% block contents %}

	{# About us #}
	<div class="container mt-3">
	    <div class="row">
	        <div class="col-md-6">
	            <h2>About Us</h2>
	            <p>
					Pasty Bites is an online local pastry shop ran by Cigdem Askin, based in El Dorado Hills near Sacramento, California. Pastry Bites is known for their baklava,
                    a Turkish pastry made of filo pastry, chopped nuts, and syrup or honey.
	            </p>
	            <p>
					Our baklava is freshly baked by Cigdem Askin, and pickup will be arranged locally after seamless transaction. 
	            </p>
	            <p>
					Our goal is to make sure that customers near the Sacramento area are satisfied and taken care of, and can enjoy our delicious baklava!
	            </p>
	        </div>
	        <div class="col-md-6">
	            <img src="https://via.placeholder.com/500x300" alt="pastry" class="img-fluid mb-3">
	            <img src="https://via.placeholder.com/500x300" alt="pastry" class="img-fluid">
	        </div>
	    </div>

		{# The team (client, maybe whoever else helps out #}
	    <div class="row">
		    <h2>The team</h2>
		        <div class="col-md-4">
		            <div class="card">
		                <img src="https://via.placeholder.com/150" alt="First last" class="card-img-top">
		                <div class="card-body">
		                    <h5 class="card-title">First last</h5>
		                    <p class="card-text">Their role</p>
		                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="card">
		                <img src="https://via.placeholder.com/150" alt="First last" class="card-img-top">
		                <div class="card-body">
		                    <h5 class="card-title">First last</h5>
		                    <p class="card-text">Their role</p>
		                </div>
		            </div>
		        </div>
		        <div class="col-md-4">
		            <div class="card">
		                <img src="https://via.placeholder.com/150" alt="First last" class="card-img-top">
		                <div class="card-body">
		                    <h5 class="card-title">First last</h5>
		                    <p class="card-text">Their role</p>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>

{% endblock %}
