{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block contents %}

    <div class="container mt-3">
	    <h2>Contact Us</h2>
	    {% if config.email %}
		    <p><span class="fw-bold">Business Email</span>: {{ config.email }}</p>
	    {% endif %}
	    {% if config.phone_number %}
		    <p><span class="fw-bold">Phone number</span>: {{ config.phone_number }}</p>
	    {% endif %}
	    {% if config.address %}
		    <p><span class="fw-bold">Address</span>: {{ config.address }}</p>
	    {% endif %}
        {% if config.facebook_url %}
		    <p><a href="{{ config.facebook_url }}" target="_blank">Facebook page</a></p>
		{% endif %}
		{% if config.instagram_url %}
		    <p><a href="{{ config.instagram_url }}" target="_blank">Instagram page</a></p>
		{% endif %}

	    <form method="post" class="mt-3">
	        {% csrf_token %}
	        <div class="mb-3">
	            <label for="email" class="form-label">Email</label>
	            <input type="email" class="form-control" id="email" name="email" required>
	        </div>
	        <div class="mb-3">
	            <label for="subject" class="form-label">Subject</label>
	            <input type="text" class="form-control" id="subject" name="subject" required>
	        </div>
	        <div class="mb-3">
	            <label for="message" class="form-label">Message</label>
	            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
	        </div>
	        <button type="submit" class="btn btn-primary">Submit</button>
	    </form>
	</div>

{% endblock %}
