<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="home_css.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>PASTRY BITES</title>
   
</head>

<body>
    <header>
        <div id="navbarHeader" class="collapse bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <!-- Start: h4 about --><h4 class="text-white">About</h4>
                        <!-- End: h4 about -->
                        <!-- Start: paragraph --><p class="text-muted"> Cigdem Askin’s fledgling home-based business is sure to thrill your taste buds. Pastry Bites in El Dorado Hills offers local delivery of baklava. Village Life photo by Sel Richard.</p>
                        <!-- End: paragraph -->
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <!-- Start: h4 contact --><h4 class="text-white">Contact</h4>
                        <!-- End: h4 contact -->
                        <!-- Start: lists unordered --><ul class="list-unstyled">
    
             
</ul>
                        <!-- End: lists unordered -->
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container d-flex justify-content-between"><a class="navbar-brand d-flex align-items-center" href="#"><i class="fa fa-camera"></i><strong>&nbsp;Album</strong></a><button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-navicon"></i></button></div>
        </div>
    </header>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>PASTRY BITES HOME PAGE</h1>
                <p class="lead text-muted"><br>"Treat yourself to a slice of heaven with our heavenly baklava, baked fresh and served with love. -Cigdem Askins "<br></p>
               
            </div>
        </section>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="pastry.jpeg">
                            <div class="card-body">
                                <p class="card-text">BaKlava dessert</p>
                                <p class="card-text">Baklava is a traditional dessert in many Middle Eastern, Mediterranean, and Balkan countries and is often served on special occasions or as a treat with coffee or tea.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>$ 12.00</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="pastry1.jpeg">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>9 min</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="assets/img/varun-mama.jpg?h=84121e32fea1d516cf6551992dab13be">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>9 min</small></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="assets/img/varun-mama.jpg?h=84121e32fea1d516cf6551992dab13be">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>9 min</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="assets/img/varun-mama.jpg?h=84121e32fea1d516cf6551992dab13be">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>9 min</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="assets/img/varun-mama.jpg?h=84121e32fea1d516cf6551992dab13be">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>9 min</small></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="assets/img/varun-mama.jpg?h=84121e32fea1d516cf6551992dab13be">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>9 min</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="assets/img/varun-mama.jpg?h=84121e32fea1d516cf6551992dab13be">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>9 min</small></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm"><img class="bd-placeholder-img" width="100%" height="225" src="assets/img/varun-mama.jpg?h=84121e32fea1d516cf6551992dab13be">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<br></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <!-- Start: view | edit button --><div class="btn-group">
    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
</div>
                                    <!-- End: view | edit button --><small>9 min</small></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017-2023 PASTY BYTES.
        </p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
    
</body>

</html>