{% extends 'base.html' %}
{% load static %}

{% block title %}Pastry Bites{% endblock %}

{% block contents %}
    <div class="container">
		<h1 class="text-center">PastryBites: University Senior Project</h1>
		<p>
			In collaboration with a client, my team and I developed a website for our final year project at Sacramento State University.
			The website allows the client to manage product orders and view/export business reports.
		</p>
		<p>
			After completing the course, I (Nathan) independently continued to enhance the website's codebase, enabling its use as a demonstration tool for potential employers.
			The code is accessible on <a href="https://github.com/nathandevx/University-Senior-Project/" target="_blank">GitHub</a>.
			I added a button on the login page which allows users to login as an administrator without having an account so that they can demonstrate the site. You can view this feature on the
			<a href="{% url 'account_login' %}">login page</a>.
		</p>
        <div class="row">
		{% if user.in_admin_group %}
		    <p class="text-center"><span class="fw-bold">Admin viewable only:</span> <a href="{% url 'home:product-create' %}">Create a product</a></p>
		{% endif %}
        {% if products %}
            {% for product in products %}
                <div class="col-md-4">
		            {% if product.get_first_image_url %}
						<div class="card mb-4 shadow-sm"><img alt="Product image" class="bd-placeholder-img" width="100%" height="300" src="{{ product.get_first_image_url }}">
                    {% else %}
			            <div class="card mb-4 shadow-sm"><img alt="Product image" class="bd-placeholder-img" width="100%" height="300" src="https://placehold.co/600x400">
		            {% endif %}
                        <div class="card-body">
                            <p class="card-text fw-bold">{{ product.name }} </p>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
							    <a class="btn btn-primary" href="{{ product.get_read_url }}">View</a>
							</div>
                                <small>${{ product.price }}</small></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2 class="text-center">No products found.</h2>
        {% endif %}
        </div>
    </div>
{% endblock %}
