{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/order_css.css' %}">
{% endblock %}

{% block title %}Pastry Bites{% endblock %}

{% block contents %}
    <div class="container-fluid text-center">
        <div class="title">
            <h1> Checkout page </h1>
        </div>
       
        <div class="container">
            
          <div class="d-flex">
            <form action="" method="">
              <label>
                <span class="fname">First Name <span class="required">*</span></span>
                <input type="text" name="fname">
              </label>

              <label>
                <span class="lname">Last Name <span class="required">*</span></span>
                <input type="text" name="lname">
              </label>

              <label>
                <span>Country <span class="required">*</span></span>
                <select name="selection">
                  <option value="select">Select a country...</option>
                  <option value="US">United States</option>
                  
                </select>
              </label>
              <label>
                <span>street Address <span class="required">*</span></span>
                <input type="text" name="houseadd" placeholder="House number and street name" required>
              </label>
              <label>
                <span>&nbsp;</span>
                <input type="text" name="apartment" placeholder="Apartment, suite, unit etc. (optional)">
              </label>
              <label>
                <span>Town / City <span class="required">*</span></span>
                <input type="text" name="city"> 
              </label>
              <label>
                <span>State / County <span class="required">*</span></span>
                <input type="text" name="city"> 
              </label>
              <label>
                <span>Postcode / ZIP <span class="required">*</span></span>
                <input type="text" name="city"> 
              </label>
              <label>
                <span>Phone <span class="required">*</span></span>
                <input type="tel" name="city"> 
              </label>
              <label>
                <span>Email Address <span class="required">*</span></span>
                <input type="email" name="city"> 
              </label>
            </form>
            <div class="Yourorder">
              <table>
                <tr>
                  <th colspan="2">Your order</th>
                </tr>
                <tr>
                  <td>Product Name x 2(Qty)</td>
                  <td>$12.00</td>
                </tr>
                <tr>
                  <td>Subtotal</td>
                  <td>$8.00</td>
                </tr>
                <tr>
                  <td>Shipping</td>
                  <td>Free shipping</td>
                </tr>
              </table><br>
              <div>
                <input type="radio" name="dbt" value="dbt" checked> Dabit/Cradit
              </div>
              
              <div>
                <input type="radio" name="dbt" value="cd"> Cash on Delivery
              </div>
              <div>
                <input type="radio" name="dbt" value="cd"> Paypal <span>
                <img src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg" alt="" width="50">
                </span>
              </div>
              <button type="button">Place Order</button>
            </div><!-- Yorder -->
           </div>
          </div>
          <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">© 2017-2023 PASTY BYTES.
            </p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>

{% endblock %}


