{% load static %}

<style>
    table, th, td {
      border:2px solid #DDD;
      border-collapse: collapse;
    }

    tr:hover {background-color: #5dfcc7;}
    </style>

<h1>Order History</h1>

<form method="POST" action="{% url 'past-orders' %}" class="past-orders">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="{% trans 'past-orders' %}" />
</form>

<h3>View all your past orders below</h3>
<ul id="past-orders-list">
    <!-- Past orders will be displayed here -->

    <table style="width:70%">
        <tr>
            <td><h2>Date</h2></td>
            <td><h2>Number of Items</h2></td>
            <td><h2>Total</h2></td>
            <td><h2>Order Number</h2></td>
        </tr>
        <tr>
            <th>09/07/2023</th>
            <th>3</th>
            <th>$9.50</th>
            <th>12345</th>
        </tr>
    </table>

</ul>