@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --white: #fff;
}

body {
    margin: 10;
    padding: 10;
    min-height:100vh;
    overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.details .container { 
  position:relative;
  display:grid;
  min-height: 500px;
  background: var(--white);

  padding: 120px;
  box-shadow: 30px 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
}

.container-fluid { 
  background-color: #f7f7f7;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
}

.main {
  transition: 0.5s;
}

.pageName {
  background-color: rgba(255, 255, 255, 0);
  font-size: 50px;
  color: black;
  text-align: center;
  padding: 50px;
}

form {
  display:flex;
  font-size: larger;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  margin-top: 10px;
  font-size: 21px;
  color: gray;
}

input {
  border-radius: 0%;
  margin: 10px 0 20px 0;
  width: 150%;
  padding: 5px;
}

p {
  font-size: 15px;
  margin-bottom: 10px;
  color: var(--white);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
