{% extends 'base.html' %}
{% load cart_tags %}
{% load crispy_forms_tags %}

{% block title %}Shipping Address{% endblock %}

{% block contents %}

    <div class="container">
        <h1 class="text-center">Shipping address information.</h1>
	    <p>View your cart <a href="{% cart_url %}">here</a>.</p>
	    <p>We currently are only fulfilling orders in the following cities: <span class="fw-bold">{{ cities }}</span>.</p>
	    <p>Enter the address you want your order delivered to.</p>
	    <form method="POST" enctype="multipart/form-data">
		    {% csrf_token %}
		    {{ form|crispy }}
		    <button type="submit" class="btn btn-primary">Continue</button>
	    </form>
    </div>

{% endblock %}
