{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://unpkg.com/ionicons@5.0.2/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/components_styles/profile_css.css' %}" type="text/css">
{% endblock %}

{% block contents %}
    <header>
        <nav>
            <div class="logo">
                <a id="nav-link" href="/">
                    <img src="/static/images/Pastry Bites Logo_Hrz.png" alt="PB Logo">
                </a>
                
            </div>
    
            <ul class="nav-links">
                <li><a id="nav-link" href="{% url 'home:about' %}">About Us</a></li>
                <li><a id="nav-link" href="{% url 'blog:post-list' %}">Blog</a></li>
                <li><a id="nav-link" href="{% url 'home:contact' %}">Contact</a></li>
                <li><a id="nav-link" href="#">Sign Up</a></li>
            </ul>

            <div class="order">
                <button>
                    <a id="nav-link" href="{% url 'home:home' %}">Order Online</a>
                </button>
                
            </div>
        </nav>
    </header>

        <div class="pageName">
            {% block title %}My Profile{% endblock %}
            <p>Enter your information:</p>
        </div>
    <div class="main">
        <div class="details">
            <div class="container">
                <form>
	                {{ form }}
                    {% csrf_token %}
                    <label for="name">First Name:</label>
                    <!-- <input type="text" id="fname" name="fname" required> -->

                    <label for="name">Last Name:</label>
                    <!-- <input type="text" id="lname" name="lname" required> -->
            
                    <label for="email">Email Address:</label>
                    <!-- <input type="email" id="email" name="email" required> -->
                    
                    <label for="birthdate">Birthday:</label>
                    <!-- <input type="date" id="birthdate" name="birthdate" required> -->
            
                    <label for="payment">Phone Number:</label>
                    <!-- <input type="phone-number" id="payment" name="payment" required> -->
            
            
                </form>
                <button class="submit-button" type="submit">Update Information</button>
                <div class="container-fluid text-center">

                    <p><a href="{% url 'account_change_password' %}">Change password</a></p>
                    <p><a href="{% url 'home:order-list' %}">View past orders</a></p>
                    <p><a href="{% url 'users:delete-user' %}">Delete account</a></p>
                    <p><a href="{% url 'account_email' %}">Manage your email addresses</a></p>
                    <p><a href="{% url 'account_reset_password' %}">Forgot password</a></p>
            
                </div>

            </div>
            
        </div>

    

    

        <footer>
            <div class="social-icons">
                <p id="footer-message">Follow us on our social media!</p>
                <a href="https://www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.twitter.com"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="https://www.instagram.com"><ion-icon name="logo-instagram"></ion-icon></a>
                <!-- Add more social media icons and links as needed -->
                <p class="mb-1">2017-2023 PASTRY BYTES.</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>

            </div>
        </footer>
    </div>





  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  {% endblock %}

