<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" href="{% static 'css/components_styles/profile_css.css' %}" type="text/css">
</head>
<body>

    <header>
    <!--search-->
    <div class="search">
        <label>
            <!--<input type="text" placeholder="Search">-->
            <ion-icon name="search-circle-outline"></ion-icon>
        </label>
    </div>
      <h1>Account Details</h1>
      <p>Enter your information and update your password below:</p>
    </header>


    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="storefront-outline"></ion-icon></span>
                    <span class="title">Pastry Bites</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="star-outline"></ion-icon></span>
                    <span class="title">Bakery Products</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="gift-outline"></ion-icon></span>
                    <span class="title">Order Now</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                    <span class="title">About Us</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="at-outline"></ion-icon></span>
                    <span class="title">Contact Us</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- main -->
    <div class="main">
        <div class="topbar">

            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <!--user Image -->
            <div class="user">
                <img src="user.png">
            </div>
        </div>

        <!--detailed list-->

        <div class="details">
            <div class="container">
                <button type="submit">Update Information</button>
                <div class="container-fluid text-center">

                    <p><a href="{% url 'account_change_password' %}">Change password</a></p>
                    <p><a href="{% url 'users:delete-user' %}">Delete account</a></p>
                    <p><a href="{% url 'account_email' %}">Manage your email addresses</a></p>
                    <p><a href="{% url 'account_reset_password' %}">Forgot password</a></p>

                </div>

            </div>

        </div>

    </div>





  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
