{% extends 'base.html' %}

{% block title %}Past orders{% endblock %}

{% block contents %}
	<div class="container">
		{% if orders %}
			<h1 class="text-center">Past orders</h1>
		    <div class="table-responsive">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th><h5>#</h5></th>
							<th><h5>Order link</h5></th>
							<th><h5>Date</h5></th>
							<th><h5>Total</h5></th>
							<th><h5>Status</h5></th>
						</tr>
					</thead>
					<tbody>
					    {% for order in orders %}
							<tr>
								<td>{{ order.pk}}</td>
								<td><a href="{{ order.get_read_url }}">Link</a></td>
								<td>{{ order.created_at }}</td>
								<td>${{ order.total_price }}</td>
								<td>{{ order.status }}</td>
							</tr>
					    {% endfor %}
					</tbody>
				</table>
			</div>
		{% else %}
			<h1 class="text-center">No orders found.</h1>
		{% endif %}

	</div>
{% endblock %}